
._*
*.swp
.Trashes
.Spotlight-V100
Icon?
Thumbs.db
.DS_Store
.DS_Store?
.vscode/settings.json
.idea/
temp/
logs/
test/
images/
node_modules/
start.log
config/aigc/
package-lock.json
customConfig.js
ffmpeg
yarn.lock